# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AStar.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Пользователь\Desktop\AStar\AStar\AStar\.idea\.idea.AStar.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
